## Assiment 2

#### 1. Write a Python program to add an item to a tuple.

In [1]:
lang = ("Arabic", "English", "Spanish")

lang_to_list = list(lang)

lang_to_list.append("German")

convert_list = tuple(lang_to_list)


print(convert_list)

('Arabic', 'English', 'Spanish', 'German')

#### 2. Write a Python program to sum all the items in a list.

In [26]:
list_of_number = [2,4,6,8,9]
num_sum = 0
# print(sum(list_of_number))

for num in list_of_number:
    num_sum += num

print(f"sum all the items = {num_sum}")

sum all the items = 29

#### 3. Write a Python program to multiply all the items in a list.

In [ ]:
list_of_number = [2,4,6,8,9]

mult_num = 1

for num in list_of_number:
    mult_num *= num

print(f"multiply all the items = {mult_num}")

multiply all the items = 3456

#### 4. Write a Python program to get the smallest number from a list.

In [27]:
list_of_number = [12,22,80,2,4,6,8,7]

list_of_number.sort()

smallest_number = list_of_number[0]

print(list_of_number)
print(f"the smallest number is = {smallest_number}")

[2, 4, 6, 7, 8, 12, 22, 80]
the smallest number is = 2

#### 5. Write a Python program to get the largest number from a list.

In [29]:
list_of_number = [12,22,80,2,4,6,8,7]

list_of_number.sort(reverse= True)

largest_number = list_of_number[0]

print(list_of_number)
print(f"the largest number is = {largest_number}")

[80, 22, 12, 8, 7, 6, 4, 2]
the largest number is = 80

#### 6. Write a Python program to count the number of strings from a given list of strings.

In [30]:
list_of_strings = ["Ai", "PHP", "Python", "Javascript"]

len(list_of_strings)

4

#### 7. Write a Python program to clone or copy a list

In [2]:
clone_list = [2,3,4,"AI","PHP",5,6,8]

new_list = clone_list.copy()

print(new_list)

[2, 3, 4, 'AI', 'PHP', 5, 6, 8]

#### 8. Write a Python program to remove item(s) from a given set.

In [4]:
set_one = {"Ai", "Php", "Python", "javascript"}
print(set_one)

set_one.remove("Php")

print(set_one)

{'javascript', 'Python', 'Php', 'Ai'}
{'javascript', 'Python', 'Ai'}

##### 9. Write a Python program to check if a set is a subset of another set.

In [32]:
main_set = {"Ai", "Php", "laravel","prompt", "machine learning"}

secound_set = {"java","rudy","go","typescript","Ai", "Php", "laravel","prompt", "machine learning"}

# sub_set = main_set.issubset(secound_set)

# print(sub_set)

if secound_set >= main_set:
    print("this is a subset")
else:
    print("this is not a subset")

this is a subset

##### 10. Write a Python program to remove all elements from a given set.

In [30]:
main_set = {"Ai", "Php", "laravel","prompt", "machine learning"}

print(main_set)

main_set.clear()

print(main_set)

{'laravel', 'Php', 'Ai', 'machine learning', 'prompt'}
set()

##### 11. Write a Python program to find the maximum and minimum values in a set.

In [41]:
word_set = {100,45,54,344,9,67}

print(word_set)

set_to_list = list(word_set)

set_to_list.sort()

print(set_to_list)

max_value = set_to_list[-1]
min_value = set_to_list[0]

print(f"the maximum value is {max_value} and the minimum value is {min_value}")

{67, 100, 54, 344, 9, 45}
[9, 45, 54, 67, 100, 344]
the maximum value is 344 and the minimum value is 9

##### 12. Write a Python program to find the index of an item in a tuple.

In [45]:
numbers = (20,30,40,60,80,90)

find_index = numbers.index(40)

print(f"the index of an item is {find_index}")

the index of an item is 2

##### 13. Write a Python program to convert a tuple to a dictionary.

In [76]:
numbers = (("k1",30),("k2",60))

convert_to_dict = dict(numbers)

print(convert_to_dict)

{'k1': 30, 'k2': 60}

##### 14. Write a Python program to unzip a list of tuples into individual lists.

In [61]:
numbers = [(20,30),(40,60),(80,90)]
list_of_tuple = []
print(numbers)

for t in numbers:
    list_of_tuple = list(t)
    print(list_of_tuple)

[(20, 30), (40, 60), (80, 90)]
[20, 30]
[40, 60]
[80, 90]

##### 15. Write a Python program to reverse a tuple.

In [67]:
main_tup = ("Ai", "Php", "laravel","prompt", "machine learning")
print(main_tup)

tup_to_list = list(main_tup)
tup_to_list.reverse()
print(tuple(tup_to_list))

('Ai', 'Php', 'laravel', 'prompt', 'machine learning')
('machine learning', 'prompt', 'laravel', 'Php', 'Ai')

##### 16. Write a Python program to convert a list of tuples into a dictionary

In [71]:
numbers = [("k2",30),("k4",60),("6",90)]

convert_to_dict = dict(numbers)

print(convert_to_dict)

{'k2': 30, 'k4': 60, '6': 90}

##### 17. Write a Python program to replace the last value of tuples in a list

In [164]:
num_of_tuples = [(20,30),(40,60),(80,90)]
last_values= 0
list_of_last_values = []
for num in num_of_tuples:
    to_list = list(num)
    to_list[-1] = 100
    tup = tuple(to_list)
    list_of_last_values.append(tup)
    

print(list_of_last_values)

[(20, 100), (40, 100), (80, 100)]

##### 18. Write a Python program to sort a tuple by its float element.

In [219]:
tup = (("k1", 100),("k2",30),("k5",90),("k4",60))

tup_to_list = list(tup)

print(tup_to_list)

def get_float_value(item):
    return item[1]

tup_to_list.sort(key=get_float_value)

sorted_tuple = tuple(tup_to_list)

print(sorted_tuple)

[('k1', 100), ('k2', 30), ('k5', 90), ('k4', 60)]
(('k2', 30), ('k4', 60), ('k5', 90), ('k1', 100))